@import "../../scss/vars";

.patients {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  cursor: pointer;
  &:last-child {
    margin-bottom: 0;
  }
  &__image {
    margin-right: 12px;
    img {
      width: 48px;
      height: 48px;
    }
  }
  &__info {
    display: flex;
    align-items: center;
  }
  &__active {
    background-color: $softBackground;
  }
}
